extends ../layouts/area-layout

block variables
  - const title = "Second page"

block aside
  h1 i am sidebar

block content
  
  include ../models/example
  h1(style="text-align: center") Hello second.pug
