$desktop: 1200px
$laptop: 1000px
$tablet: 768px

// ============ min-with breakpoints (mobile-first)
@mixin min-desktop()
  @media (min-width: $desktop)
    @content

@mixin min-laptop()
  @media (min-width: $laptop)
    @content

@mixin min-tablet()
  @media (min-width: $tablet)
    @content

// =================================================

// ============ range breakpoints
@mixin tablet-only
  @media (min-width: $tablet) and (max-width: $laptop)
    @content

@mixin media-range($min, $max)
  @media (min-width: $min) and (max-width: $max)
    @content

// =================================================
