block variables

html(lang="ru")
  
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="public/favicon.ico", type="image/x-icon")
    title= title
  
  body.area-layout-body
    
    //- header
    header.area-layout-header
    
    //- page content
    main.area-layout-main
      aside.area-layout-aside
        block aside
      section.area-layout-section
        block content
    
    //- footer
    footer.area-layout-footer
