block variables

html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="public/favicon.ico", type="image/x-icon")
    title= title

  body.example-layout-body

    //- header
    header.example-layout-header

    //- page content
    main.example-layout-main
      block content

    //- footer
    footer.example-layout-footer
