.example-layout-body {
  background: #f4f4f4;
}
  
.example-layout-header {
  width: 100%;
  height: 50px;
  background: #212121;
}

.example-layout-main {
  padding: 32px;
  min-height: calc(100vh - 50px - 150px);
}

.example-layout-footer {
  width: 100%;
  height: 150px;
  background: #212121;
}
